html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ball {
  display: block;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid black;
  font-size: 2em;
  cursor: pointer;
}

.superBall {
  display: block;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 5px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid black;
  font-size: 5em;
}
